---
# Source: promstack/charts/kube-prometheus-stack/templates/prometheus-operator/serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: promstack-operator
  namespace: monitoring
  labels:
    
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/instance: promstack
    app.kubernetes.io/version: "81.5.0"
    app.kubernetes.io/part-of: promstack
    chart: kube-prometheus-stack-81.5.0
    release: "promstack"
    heritage: "Helm"
    app: promstack-operator
    app.kubernetes.io/name: promstack-prometheus-operator
    app.kubernetes.io/component: prometheus-operator
automountServiceAccountToken: true
