apiVersion: v2
name: promstack
description: wrapper over kube-prometheus-stack and tooling
type: application
version: 0.6.4
dependencies:
- name: kube-prometheus-stack
  version: "*"
  repository: https://prometheus-community.github.io/helm-charts
- name: tempo
  version: "*"
  repository: https://grafana.github.io/helm-charts
  condition: tempo.enabled
