# global
flux2:
  installCRDs: true
  logLevel: info

  helmController:
    create: false
  imageAutomationController:
    create: false
  imageReflectionController:
    create: false
  kustomizeController:
    create: true
    # annotation nulling seems to not work in current helm version
    # fixed in 4 https://github.com/helm/helm/issues/31118
    # annotations: ~
    resources:
      limits: {}
      requests:
        cpu: 100m
        memory: 64Mi
    container:
      additionalArgs:
      - "--concurrent=4"
  notificationController:
    create: false
    # rely on an alert instead
  sourceController:
    create: true
    # annotation nulling seems to not work in current helm version
    # fixed in 4 https://github.com/helm/helm/issues/31118
    # annotations: ~
    resources:
      limits: {}
      requests:
        cpu: 100m
        memory: 64Mi

  prometheus:
    # NB: have migrated off gotk_ metrics for KSM metrics
    # https://fluxcd.io/flux/monitoring/metrics/
    # https://fluxcd.io/flux/monitoring/custom-metrics/
    # See ../promstack/values.yaml under kube-state-metrics
    podMonitor:
      # Forked for less buckets.
      create: false

  # security
  policies:
    create: true
  rbac:
    create: true
    createAggregation: false
  watchAllNamespaces: false
