---
# Source: forgejo/templates/gitea/http-svc.yaml
apiVersion: v1
kind: Service
metadata:
  name: forgejo-http
  namespace: "forgejo"
  labels:
    helm.sh/chart: forgejo-16.0.2
    app: forgejo
    app.kubernetes.io/name: forgejo
    app.kubernetes.io/instance: forgejo
    app.kubernetes.io/version: "14.0.2"
    version: "14.0.2"
    app.kubernetes.io/managed-by: Helm
  annotations:
    {}
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 3000
    targetPort: http
  selector:
    app.kubernetes.io/name: forgejo
    app.kubernetes.io/instance: forgejo
