---
# Source: promstack/charts/kube-prometheus-stack/templates/alertmanager/alertmanager.yaml
apiVersion: monitoring.coreos.com/v1
kind: Alertmanager
metadata:
  name: promstack
  namespace: monitoring
  labels:
    app: promstack-alertmanager
    
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/instance: promstack
    app.kubernetes.io/version: "62.3.1"
    app.kubernetes.io/part-of: promstack
    chart: kube-prometheus-stack-62.3.1
    release: "promstack"
    heritage: "Helm"
spec:
  image: "quay.io/prometheus/alertmanager:v0.27.0"
  version: v0.27.0
  replicas: 1
  listenLocal: false
  serviceAccountName: promstack-alertmanager
  automountServiceAccountToken: true
  externalUrl: "http://alertmanager.clux.dev"
  paused: false
  logFormat: "logfmt"
  logLevel:  "info"
  retention: "120h"
  enableFeatures:
    - receiver-name-in-metrics
  alertmanagerConfigSelector: {}
  alertmanagerConfigNamespaceSelector: {}
  alertmanagerConfiguration:
    name: alertmanager-config
  routePrefix: "/"
  securityContext:
    fsGroup: 2000
    runAsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1000
    seccompProfile:
      type: RuntimeDefault
  portName: http-web
