---
# Source: promstack/charts/kube-prometheus-stack/templates/alertmanager/ingress.yaml
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: promstack-alertmanager
  namespace: monitoring
  labels:
    app: promstack-alertmanager
    
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/instance: promstack
    app.kubernetes.io/version: "64.0.0"
    app.kubernetes.io/part-of: promstack
    chart: kube-prometheus-stack-64.0.0
    release: "promstack"
    heritage: "Helm"
spec:
  rules:
    - host: "alertmanager.clux.dev"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: promstack-alertmanager
                port:
                  number: 9093
